<h1 class="text-center mb-3">{{title}}</h1>

<form action="/api/members" method="POST" class="mb-3">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control"/>
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control"/>
    <input type="submit" value="Add Member" class="btn btn-primary btn-block" />
</form>
<h4>Members</h4>
<ul class="group-list">
    {{#each members}}
        <li class="list-group-item">{{this.name}}: {{this.email}}</li>
    {{/each}}
</ul>

<a href="/api/members" class="btn btn-light mt-4">Visit API</a>




<h1 class="text-center mb-3">Tasks</h1>

<form action="/api/tasks" method="POST" class="mb-3">
    <label for="name">Name</label>
    <input type="text" name="name" class="form-control"/>
    <label for="desc">Description</label>
    <input type="text" name="desc" class="form-control"/>
    <input type="submit" value="Add Task" class="btn btn-primary btn-block" />
</form>
<h4>Tasks</h4>
<ul class="group-list">
    {{#each tasks}}
        <li class="list-group-item">{{this.name}}
            <ul>
                <li class="list-group-item">
                    <input type="checkbox" {{#if this.done}}checked{{/if}} onclick="toggleThis('{{this.id}}', this.checked)">{{this.desc}}</input>
                </li>
            </ul>
        </li>
    {{/each}}
    <!-- {{debug}} -->
</ul>
<script>
    const toggleThis = (id, value)=>{
        // alert(""+id + value)
        putData('/api/tasks/'+id, {done:value} )
                .then((data) => {
                    console.log(data);
                });
    };
    // Example POST method implementation:
    const putData = async (url = '', data = {}) => {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'PUT', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *client
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return await response.json(); // parses JSON response into native JavaScript objects
    };

</script>
<a href="/api/tasks" class="btn btn-light mt-4">Visit API</a>